<ion-header>
  <ion-toolbar>
    <ion-title>{{journey.title}}</ion-title>
    <ion-button slot="end" class="ion-margin-end" (click)="leave()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Details:

          <!--payment title-->
          <div *ngIf="!isEditMode; else titleInput">
            {{payment.title || 'No title'}}
          </div>
          <ng-template #titleInput>
            <ion-input disabled="{{!isEditMode}}" placeholder="Enter Title" type="text"
                       [(ngModel)]="payment.title"></ion-input>
          </ng-template>
        </ion-card-title>
        <ion-button slot="end" *ngIf="!isEditMode && userId === payment.payerID" on-click="toggleEditMode()">
          <ion-icon slot="icon-only" name="{{'create'}}"></ion-icon>
        </ion-button>
        <!--<ion-button slot="end" *ngIf="isEditMode" on-click="toggleEditMode()">
          <ion-icon slot="icon-only" name="{{'arrow-back'}}"></ion-icon>
        </ion-button>-->
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <!--Payer -->
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>
            Payer
          </ion-label>
          <div *ngIf="!isEditMode; else payerDropdown">
            {{userIdMap.get(payment.payerID).userName || 'No payer'}}
          </div>
          <ng-template #payerDropdown>
            <!--TODO loesung fuer default value-->
            <ion-select slot="end"
                        placeholder="Select User" value="{{payment.payerID}}" [(ngModel)]="payment.payerID">
              <ion-select-option *ngFor="let user of users"
                                 value="{{user.id}}">{{user.userName}}</ion-select-option>
            </ion-select>
          </ng-template>
        </ion-item>

        <!--payed value-->
        <ion-item>
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>
            Value
          </ion-label>
          <div *ngIf="!isEditMode; else valueCurrencyInput">
            {{payment?.value || '0' + '' + payment?.currency || 'No value'}}
          </div>
          <ng-template #valueCurrencyInput>
            <ion-input class="ion-text-right" slot="end" type="number" placeholder="Enter Value"
                       [(ngModel)]="payment.value">
            </ion-input>
          </ng-template>
        </ion-item>

        <!--payed currency-->
        <ion-item *ngIf="isEditMode">
          <ion-icon slot="start" name="logo-euro"></ion-icon>
          <ion-label>
            Currency
          </ion-label>
          <ion-select slot="end" [(ngModel)]="payment.currency" placeholder="{{'Select Currency'}}">
            <ion-select-option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--day of payment-->
        <ion-item>
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>
            Payday
          </ion-label>
          <div *ngIf="!isEditMode; else dateInput">
            {{payment.payday.toDate() | date:'dd.MM.YYYY'}}
          </div>
          <ng-template #dateInput>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [value]="payment.payday.toDate().toISOString()" #payday
                              (ionChange)="updatePayday(payday.value)" presentation="date" id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ng-template>
        </ion-item>

        <!--category of payment-->
        <ion-item>
          <ion-icon slot="start" name="pricetags"></ion-icon>
          <ion-label>
            Category
          </ion-label>
          <div *ngIf="!isEditMode; else categoryDropdown">
            {{payment.category}}
          </div>
          <ng-template #categoryDropdown>
            <ion-select slot="end" [(ngModel)]="payment.category" placeholder="Select Category">
              <ion-select-option *ngFor="let category of categories"
                                 value="{{category}}">{{category}}</ion-select-option>
            </ion-select>
          </ng-template>
        </ion-item>

        <!--people that are involved in payment-->
        <ion-item-group>
          <ion-item>
            <ion-label class="ion-text-center ion-align-self-center">
              <ion-icon name="people"></ion-icon>
              Involved
            </ion-label>
          </ion-item>
          <span *ngFor="let participant of payment.paymentParticipants">
              <ion-chip on-click="isEditMode && removeInvolved(participant)">
                {{userIdMap.get(participant).userName}}
                <ion-icon color="danger" *ngIf="isEditMode" name="close-circle-outline"></ion-icon>
              </ion-chip>
          </span>
          <ion-fab-button (click)="presentActionSheet()" *ngIf="isEditMode "
                          color="success" size="small">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>

        </ion-item-group>

        <!--Picture of the bill TODO: set img etc-->
        <ion-button *ngIf="isEditMode && (payment.img === null)" (click)="takePic()" size="large" fill="outline"
                    expand="block">
          <ion-icon name="add"></ion-icon>
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
        <ion-img *ngIf="!isEditMode && payment.img !== null"
                 src="{{payment.img}}"></ion-img>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer *ngIf="isEditMode"
            [translucent]="true">
  <ion-button color="success" shape="round" expand="full" (click)="save(); toggleEditMode();">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    Save
  </ion-button>
</ion-footer>


