<ion-header>
  <ion-toolbar>
    <ion-title>Payment for {{journey.title}}</ion-title>
    <ion-button (click)="leave()" class="ion-margin-end" slot="end">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>

          <!--payment title-->
          <div *ngIf="!isEditMode; else titleInput">
            {{payment.title || 'No title'}}
          </div>
          <ng-template #titleInput>
            <ion-item lines="full" fill="outline">
              <ion-label>Title:</ion-label>
              <ion-input [(ngModel)]="payment.title" disabled="{{!isEditMode}}" placeholder="Enter Title"
                         type="text"></ion-input>
            </ion-item>
          </ng-template>
        </ion-card-title>
        <ion-button *ngIf="!isEditMode" on-click="toggleEditMode()" slot="end">
          <ion-icon name="{{'create'}}" slot="icon-only"></ion-icon>
        </ion-button>
        <!--<ion-button slot="end" *ngIf="isEditMode" on-click="toggleEditMode()">
          <ion-icon slot="icon-only" name="{{'arrow-back'}}"></ion-icon>
        </ion-button>-->
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!--Payer -->
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
            Payer
          </ion-label>
          <div *ngIf="!isEditMode; else payerDropdown">
            {{userIdMap.get(payment.payerID) === undefined ? "loading..." : userIdMap.get(payment.payerID).userName || 'No payer'}}
          </div>
          <ng-template #payerDropdown>
            <!--TODO loesung fuer default value-->
            <ion-select [(ngModel)]="payment.payerID"
                        placeholder="Select User" slot="end" value="{{payment.payerID}}">
              <ion-select-option *ngFor="let user of users"
                                 value="{{user.id}}">{{user.userName || "loading..."}}</ion-select-option>
            </ion-select>
          </ng-template>
        </ion-item>

        <!--paid currency-->
        <ion-item *ngIf="isEditMode">
          <ion-icon name="logo-euro" slot="start"></ion-icon>
          <ion-label>
            Currency
          </ion-label>
          <ion-select [(ngModel)]="payment.currency" placeholder="Select Currency" slot="end">
            <ion-select-option *ngFor="let currency of currencies"
                               [value]="currency.code">{{currency.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--paid value-->
        <ion-item>
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>
            Value
          </ion-label>
          <div *ngIf="!isEditMode; else valueCurrencyInput">
            {{formatCurrency(payment.value, payment.currency)}}
          </div>
          <ng-template #valueCurrencyInput>
            <ion-input [(ngModel)]="payment.value" class="ion-text-right" placeholder="Enter Value" slot="end"
                       type="number">
            </ion-input>
            <ion-note *ngIf="payment.currency && payment.value && payment.currency !== 'USD'"
                      slot="helper">
              {{formatCurrency(payment.value, payment.currency)}} will be converted
              into {{formatCurrency(convertFromCurrency(payment.value, payment.currency), 'USD')}}
            </ion-note>
            <ion-note *ngIf="payment.currency && payment.value && payment.currency === 'USD'"
                      slot="helper">
              {{formatCurrency(payment.value, payment.currency)}}
            </ion-note>
          </ng-template>
        </ion-item>

        <!--day of payment-->
        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            Payday
          </ion-label>
          <div *ngIf="!isEditMode; else dateInput">
            {{payment.payday.toDate() | date:'dd.MM.YYYY'}}
          </div>
          <ng-template #dateInput>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime #payday (ionChange)="updatePayday(payday.value)"
                              [value]="payment.payday.toDate().toISOString()" id="datetime"
                              presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ng-template>
        </ion-item>

        <!--category of payment-->
        <ion-item>
          <ion-icon name="pricetags" slot="start"></ion-icon>
          <ion-label>
            Category
          </ion-label>
          <div *ngIf="!isEditMode; else categoryDropdown">
            {{payment.category}}
          </div>
          <ng-template #categoryDropdown>
            <ion-select [(ngModel)]="payment.category" placeholder="Select Category" slot="end">
              <ion-select-option *ngFor="let category of categories"
                                 value="{{category}}">{{category}}</ion-select-option>
            </ion-select>
          </ng-template>
        </ion-item>

        <!--people that are involved in payment-->
        <ion-item-group>
          <ion-item>
            <ion-label class="ion-text-center ion-align-self-center">
              <ion-icon name="people"></ion-icon>
              Involved
            </ion-label>
          </ion-item>
          <span *ngFor="let participant of payment.paymentParticipants">
            <ion-chip on-click="isEditMode && removeInvolved(participant)">
              {{userIdMap.get(participant) === undefined ? "loading..." : userIdMap.get(participant).userName}}
              <ion-icon *ngIf="isEditMode" color="danger" name="close-circle-outline"></ion-icon>
            </ion-chip>
          </span>
          <ion-fab-button (click)="presentActionSheet()" *ngIf="isEditMode"
                          color="success" size="small">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>

        </ion-item-group>

        <!--Picture of the bill TODO: set img etc-->
        <ion-button (click)="takePic()" *ngIf="isEditMode && (payment.img === null)" expand="block" fill="outline"
                    size="large">
          <ion-icon name="add"></ion-icon>
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
        <ion-img *ngIf="!isEditMode && payment.img !== null"
                 src="{{payment.img}}"></ion-img>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer *ngIf="isEditMode"
            [translucent]="true" collapse="fade">

  <ion-button (click)="save(); toggleEditMode();" expand="block">
    <ion-text>Save</ion-text>
    <ion-icon slot="end" name="save"></ion-icon>
  </ion-button>

</ion-footer>


