<ion-header>
  <ion-toolbar>
    <ion-button class="ion-margin-end" routerDirection="back" (click)="router.back()" slot="end">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Join Journey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-margin-top">
    <ion-card-content>
      <ion-row class="ion-padding">
        <ion-col>

          <ion-row>
            <ion-col class="ion-align-self-center ion-text-center">
              <ion-icon size="large" name="key"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item class="round ion-margin">
                <ion-label color="primary" position="stacked">Invite Code</ion-label>
                <ion-input (ionChange)="errorText = ''" [(ngModel)]="inviteCode" placeholder="Enter Code" type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-note *ngIf="errorText" class="round ion-margin" color="danger">
            {{ errorText }}
          </ion-note>

          <ion-button [disabled]="!inviteCode" class="round ion-margin" expand="block" on-click="joinJourney()">
            Apply
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding ion-text-center">
        <ion-col>
          <ion-text>
            In order to join a journey, ask the journey's creator for the corresponding invite code and enter it in the field above.
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
