.big-title {
  font-family: "Times New Roman", Times, serif;
  color: var(--ion-color-primary);
  text-shadow: 4px 0px 16px rgba(var(--ion-color-primary-rgb), 0.8);
  font-size: 400%;
}
.round{
  border-radius: 15px;
}

.get_payed {

  color: #00b023;

}

.got_to_pay {

  color: #db1731;
}


