<ion-header>
  <ion-toolbar>
    <ion-buttons style="width: 100%">
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>Options</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="align-content: center;">

  <ion-grid [fixed]="true">

    <ion-card *ngIf="isLoaded">
      <ion-card-content>
        <ion-card-title style="text-align: center;">Options for {{name || '???'}}</ion-card-title>

        <!-- Name Field -->
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="8" size-sm="12">
            <ion-item>
              <ion-label position="stacked">Name</ion-label>

              <ion-input [(ngModel)]="name" disabled={{buttonDisabled}} maxlength="30" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Currency Field w/ "currencies"-service integration-->
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="8" size-sm="12">
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Currency</ion-label>
                <ion-select [(ngModel)]="currency" disabled={{buttonDisabled}}>
                  <ion-select-option *ngFor="let currency of currencies"
                                     [value]="currency.code">{{currency.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- Switchable Button dependent on currently active mode -->
        <ion-row class="ion-justify-content-center">
          <!-- "Edit"-Button in Normal-Mode -->
          <ion-col *ngIf="!inEditMode" size="12">
            <ion-button (click)="changeEditMode()" class="round ion-margin" expand="block">
              <ion-text>Edit</ion-text>
              <ion-icon name="create" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
          <!-- "Cancel" and "Save"-Button in Edit-Mode -->
          <ion-col *ngIf="inEditMode" size="6">
            <ion-button (click)="save()" class="round ion-margin" expand="block">
              <ion-text>Save</ion-text>
              <ion-icon name="save" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col *ngIf="inEditMode" size="6">
            <ion-button (click)="changeEditMode()" class="round ion-margin" expand="block">
              <ion-text>Cancel</ion-text>
              <ion-icon name="exit" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!-- else show centered spinner -->
    <ion-spinner *ngIf="!isLoaded"
                  style="margin: 30% 46% auto;"
                  name="crescent"></ion-spinner>
  </ion-grid>

</ion-content>
