<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Journeys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- new journey button -->
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerDirection="forward" routerLink="/journey-editor">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- choose to see active, past or all journeys -->
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="journeyType">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="archived">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- choose to see created or joined journeys -->
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="journeyRole">
    <ion-segment-button value="joined">
      <ion-label>Joined</ion-label>
    </ion-segment-button>
    <ion-segment-button value="created">
      <ion-label>Created</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card (click)="viewJourney(journey)"
            *ngFor="let journey of filteredJourneys">
    <svg width="100%" height="180px">
      <foreignObject x="0" y="0" width="100%" height="100%">
        <div style="display: table; width: 100%; height: 100%;">
          <p id="cardimg">{{journey.name}}</p>
        </div>
      </foreignObject>
    </svg>
    <span style="position: absolute; top: 8px; right: 8px;">
      <ion-chip style="font-size: large; color: #1a1a1a; background-color: #9d9fa6">
        <ion-label>{{journey.start | date:'y'}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="journey.status === 'active'" style="font-size: large; color: #1c8747; background-color: #9d9fa6">
        Active
      </ion-chip>
      <ion-chip *ngIf="journey.status === 'archived'" style="font-size: large; color: #1a1a1a; background-color: #9d9fa6">
        Archived
      </ion-chip>
    </span>
    <!--ion-card-header>
      <ion-card-subtitle>
        {{journey.start | date:'y'}}</ion-card-subtitle>
      <ion-card-title>
        {{journey.name}}
      </ion-card-title>
    </ion-card-header-->
    <ion-card-content>
      <ion-item-group>
        <!--ion-row class="ion-justify-content-end">
          <ion-col>
            <ion-label>Start Date</ion-label>
            <ion-chip style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
              {{journey.start}}
            </ion-chip>
          </ion-col>
          <ion-col *ngIf="journey.end">
            <ion-label>End Date</ion-label>
            <ion-chip style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
              {{journey.end}}
            </ion-chip>
          </ion-col>
        </ion-row-->
        <!-- people -->
        <ion-row>
          <ion-col>
            <ion-label>People</ion-label>
            <ion-chip>
              <ion-icon color="primary"
                        name="caret-up-outline"></ion-icon>
              <p>{{journey.creator}}</p>
            </ion-chip>
            <span *ngFor="let person of journey.people">
          <ion-chip *ngIf="journey.creator !== person">
          <p>{{person}}</p>
          </ion-chip>
        </span>
      </ion-col>
    </ion-row>

    <span>
      <ion-button
        (click)="sendJourneyDetails(true, journey.name, journey.def_currency, journey.start, journey.invite_code, journey.people, journey.creator)"
        *ngIf="journey.creator === user">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button
        (click)="deleteJourney(journey)"
        *ngIf="journey.creator === user">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </span>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
  <!-- text if no journeys -->
  <ion-text *ngIf="filteredJourneys.length === 0">
    <div class="ion-text-center">
      <h2>No journeys to show</h2>
      <p>Click the button below to create a new journey</p>
    </div>
  </ion-text>
</ion-content>

<ion-footer [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons style="justify-content: space-evenly">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button routerDirection="forward" routerLink="/home">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerDirection="forward" routerLink="/notifications">
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
