<ion-header>
  <ion-toolbar>
    <ion-title>debt-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="align-content: center; top: 10%">

  <ion-row>
    <ion-col>
      <ion-title class = "big-title">Schuldenübersicht</ion-title>
    </ion-col>
  </ion-row>
<ion-row class="ion-justify-content-center">>
  <ion-col>
  <ion-card _ngcontent-aaq-c145="" class="md hydrated"><ion-card-header _ngcontent-aaq-c145="" class="ion-inherit-color md hydrated">
    <ion-card-title _ngcontent-aaq-c145="" role="heading" aria-level="2" class="ion-inherit-color md hydrated">Schulden</ion-card-title>
    <ion-card-subtitle _ngcontent-aaq-c145="" role="heading" aria-level="3" class="ion-inherit-color md hydrated">Schulden aus Reise "Venezuela"</ion-card-subtitle></ion-card-header>


//TODO debt übersicht

     <ion-button _ngcontent-aaq-c145="" color="primary" ng-reflect-color="primary" class="ion-color ion-color-primary md button button-solid ion-activatable ion-focusable hydrated">Um Geduld bitten</ion-button>

  </ion-card>
  </ion-col>
</ion-row>

</ion-content>
