<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journey-Editor</ion-title>
    <ion-button (click)="alertUnsaved()" class="ion-margin-end" slot="end">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid [fixed]="true">
        <!-- header with exit button -->
        <ion-row class="ion-justify-content-center">
          <ion-card-title *ngIf="!isEditMode; else editMode">New Journey</ion-card-title>
          <ng-template #editMode>
            <ion-card-title>Edit Journey</ion-card-title>
          </ng-template>
        </ion-row>
        <!-- journey name -->
        <ion-row class="ion-justify-content-center" style="display: block">
          <ion-col>
            <ion-item fill="outline" lines="full">
              <ion-label>Title:</ion-label>
              <ion-input [(ngModel)]="journey.title" maxlength="30" required="true" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <!-- item group for journey details -->
            <ion-item-group>
              <!-- "default currency" field -->
              <ion-item lines="full">
                <ion-icon name="logo-euro" slot="start"></ion-icon>
                <ion-label>Default currency:</ion-label>
                <ion-select [(ngModel)]="journey.defaultCurrency" placeholder="Select Currency" slot="end">
                  <ion-select-option *ngFor="let currency of currencies"
                                     [value]="currency.code">{{currency.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- "start date" field -->
              <ion-item id="dateStart" lines="full">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label>Start date:</ion-label>

                <ion-datetime-button datetime="datetimeStart"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime #startDate (ionChange)="updateStartDate(startDate.value)"
                                  [value]="journey.start.toDate().toISOString()"
                                  id="datetimeStart"
                                  presentation="date"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <!-- "end date" field -->
              <ion-item id="dateEnd" lines="full">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label>End date:</ion-label>

                <ion-datetime-button datetime="datetimeEnd"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime #endDate (ionChange)="updateEndDate(endDate.value)"
                                  [value]="journey.end.toDate().toISOString()" id="datetimeEnd"
                                  presentation="date"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <!-- "invite code" field
              <ion-item lines="full">
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-label>Invite code:</ion-label>
                <ion-input style="text-align: end" type="numeric" disabled="true" minlength="5" maxlength="5"
                           required="true">{{journey.inviteCode}}</ion-input>
              </ion-item-->
            </ion-item-group>
          </ion-col>
        </ion-row>

        <!-- qr code
        <ion-row *ngIf="journey && journey.inviteCode" class="ion-justify-content-center">
          <ion-col size="8" size-md="6" size-lg="4" size-xl="3">
            <ion-img [src]="'https://api.qrserver.com/v1/create-qr-code/?size=512x512&qzone=1&data=' + journey.inviteCode"></ion-img>
          </ion-col>
        </ion-row-->

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>Currently involved:</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <span *ngFor="let participant of participants">
            <ion-chip>
              <ion-icon *ngIf="participant.id === journey.creatorID" name="caret-up-outline"></ion-icon>
              <ion-label>{{participant.userName}}</ion-label>
              <ion-icon (click)="deleteUser(participant)" *ngIf="participant.id !== journey.creatorID" color="danger"
                        name="close-circle-outline"></ion-icon>
            </ion-chip>
          </span>
        </ion-row>

        <!-- Thumbnail section -->

        <!-- Title -->
        <ion-row class="ion-justify-content-center">
          <ion-card-title style="padding: 13px">Journey Thumbnail</ion-card-title>
        </ion-row>
        <!-- Image preview if available -->
        <ion-row *ngIf="journey.img !== null" class="ion-justify-content-center">
          <ion-col>
            <ion-img src="{{journey.img}}"></ion-img>
          </ion-col>
        </ion-row>
        <!-- 'Change' and 'Delete'-button (if thumbnail has been uploaded) -->
        <ion-row *ngIf="journey.img !== null" class="ion-justify-content-center">
          <ion-col>
            <ion-button (click)="alertDelete(journey)" color="danger" expand="block" fill="outline">Delete Thumbnail
              <ion-icon name="trash" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- File-input (if no thumbnail has been uploaded) -->
        <ion-row *ngIf="journey.img === null" class="ion-justify-content-center">
          <ion-col>
            <ion-input (change)="saveEvent($event)" type="file"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer [translucent]="true" collapse="fade">
  <ion-button (click)="save(true)" expand="block">
    <ion-text>Save</ion-text>
    <ion-icon name="save" slot="end"></ion-icon>
  </ion-button>
</ion-footer>

