<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journey-Editor</ion-title>
    <ion-button slot="end" class="ion-margin-end" (click)="alertUnsaved()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid [fixed]="true">
        <!-- header with exit button -->
        <ion-row class="ion-justify-content-center">
          <ion-card-title *ngIf="!isEditMode; else editMode">New Journey</ion-card-title>
          <ng-template #editMode>
            <ion-card-title>Edit Journey</ion-card-title>
          </ng-template>
        </ion-row>
        <!-- journey name -->
        <ion-row style="display: block" class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="full" fill="outline">
              <ion-label>Title:</ion-label>
              <ion-input type="text" maxlength="30" [(ngModel)]="journey.title" required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="height: 3vh"></ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <!-- item group for journey details -->
            <ion-item-group>
              <!-- "default currency" field -->
              <ion-item lines="full">
                <ion-icon name="logo-euro" slot="start"></ion-icon>
                <ion-label>Default currency:</ion-label>
                <ion-select [(ngModel)]="journey.defaultCurrency" placeholder="Select Currency" slot="end">
                  <ion-select-option *ngFor="let currency of currencies"
                                     [value]="currency.code">{{currency.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- "start date" field -->
              <ion-item lines="full" id="dateStart">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label>Start date:</ion-label>

                <ion-datetime-button datetime="datetimeStart"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" [value]="journey.start.toDate().toISOString()" #startDate
                                  (ionChange)="updateStartDate(startDate.value)"
                                  id="datetimeStart"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <!-- "end date" field -->
              <ion-item lines="full" id="dateEnd">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label>End date:</ion-label>

                <ion-datetime-button datetime="datetimeEnd"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime [value]="journey.end.toDate().toISOString()" presentation="date"
                                  id="datetimeEnd" #endDate (ionChange)="updateEndDate(endDate.value)"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <!-- "invite code" field
              <ion-item lines="full">
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-label>Invite code:</ion-label>
                <ion-input style="text-align: end" type="numeric" disabled="true" minlength="5" maxlength="5"
                           required="true">{{journey.inviteCode}}</ion-input>
              </ion-item-->
            </ion-item-group>
          </ion-col>
        </ion-row>

        <!-- qr code
        <ion-row *ngIf="journey && journey.inviteCode" class="ion-justify-content-center">
          <ion-col size="8" size-md="6" size-lg="4" size-xl="3">
            <ion-img [src]="'https://api.qrserver.com/v1/create-qr-code/?size=512x512&qzone=1&data=' + journey.inviteCode"></ion-img>
          </ion-col>
        </ion-row-->

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>Currently involved:</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <span *ngFor="let participant of participants">
            <ion-chip>
              <ion-icon name="caret-up-outline" *ngIf="participant.id === journey.creatorID" ></ion-icon>
              <ion-label>{{participant.userName}}</ion-label>
              <ion-icon color="danger" name="close-circle-outline" (click)="deleteUser(participant)" *ngIf="participant.id !== journey.creatorID"></ion-icon>
            </ion-chip>
          </span>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-img *ngIf="!isEditMode && journey.img !== null" src="{{journey.img}}"></ion-img>
            <ion-input type="file" (change)="saveEvent($event)"></ion-input>
            <ion-button type="file" expand="block" (click)="uploadPicture()">Bild hochladen</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer [translucent]="true" collapse="fade">
  <ion-button (click)="save()" expand="block">
    <ion-text>Save</ion-text>
    <ion-icon slot="end" name="save"></ion-icon>
  </ion-button>
</ion-footer>

