<ion-header>
</ion-header>

<ion-content style="align-content: center; top: 10%">

  <ion-fab *ngIf="isDebug" slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="key"></ion-icon>
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="loginTestuser('hanz')">
        Hanz
      </ion-fab-button>
      <ion-fab-button (click)="loginTestuser('peter')">
        Peter
      </ion-fab-button>
      <ion-fab-button (click)="loginTestuser('marie')">
        Marie
      </ion-fab-button>
      <ion-fab-button (click)="loginTestuser('mike')">
        Mike
      </ion-fab-button>
      <ion-fab-button (click)="loginTestuser('uwe')">
        Uwe
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <form [formGroup]="validationForm">
    <ion-grid align="center" [fixed]="true">

      <ion-row>
        <ion-col>
          <ion-title class="big-title">Almanify</ion-title>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size='3' size-sm="2" class="ion-margin-vertical">
          <div style="border-radius: 20% !important; background-color: var(--ion-color-step-50)">
            <ion-img src="assets/logo/almanify-logo-no-bg.svg"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="isLoginMode; else register">
        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">

            <ion-title style="font-size:200%">Login</ion-title>
          </ion-col>
        </ion-row>


        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item class="round ion-margin-top">
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" #email [required]="true" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-massage"
                     *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email')
                     .dirty || validationForm.get('email').touched)">
                  <ion-text color="danger"> {{validation.message}}</ion-text>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item class="round ion-margin-top">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" #password [required]="true" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-massage"
                     *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password')
             .dirty || validationForm.get('password').touched)">
                  <ion-text color="danger"> {{validation.message}}</ion-text>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item [color]="false" lines="none">
              <ion-toggle (ionChange)="rememberMeToggle($event)"></ion-toggle>
              <ion-label>Remember me</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-button expand="block" (click)="logIn(email, password)"
                        [disabled]="!(validationForm.get('password').valid && validationForm.get('email').valid)">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 2vh" class="ion-justify-content-center">
          <ion-col>
            Don't have an account yet? <a style="text-decoration: underline" (click)="isLoginMode = false">Sign up</a>
          </ion-col>
        </ion-row>
      </ng-container>

      <ng-template #register>
        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-title style="font-size:200%">Create Account</ion-title>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item class="round ion-margin-top">
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" #username [required]="true" formControlName="username"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.username">
                <div class="error-massage"
                     *ngIf="validationForm.get('username').hasError(validation.type) && (validationForm.get('username')
             .dirty || validationForm.get('username').touched)">
                  <ion-text color="danger"> {{validation.message}}</ion-text>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item class="round ion-margin-top">
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" #email [required]="true" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-massage"
                     *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email')
                     .dirty || validationForm.get('email').touched)">
                  <ion-text color="danger"> {{validation.message}}</ion-text>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item class="round ion-margin-top">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" #password [required]="true" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-massage"
                     *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password')
             .dirty || validationForm.get('password').touched)">
                  <ion-text color="danger"> {{validation.message}}</ion-text>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-item class="round ion-margin-top">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password" [required]="true" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.confirmPassword">
                <div class="error-massage"
                     *ngIf="validationForm.get('confirmPassword').hasError(validation.type) && (validationForm.get('confirmPassword')
                     .dirty || validationForm.get('confirmPassword').touched)">
                  <ion-text color="danger"> {{validation.message}}</ion-text>
                </div>
              </ng-container>
              <div class="error-message"
                   *ngIf="!validationForm.get('confirmPassword').errors
                   && validationForm.hasError('passwordNotMatch')
                   && (validationForm.get('confirmPassword').dirty
                   || validationForm.get('confirmPassword').touched)">
                <ion-text color="danger"> Password and Confirm Password fields should match</ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-sm="12" size-md="8">
            <ion-button expand="block" (click)="signUp(email, password, username)"
                        [disabled]="validationForm.invalid">
              Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 2vh" class="ion-justify-content-center">
          <ion-col>
            Already have an account? <a style="text-decoration: underline" (click)="isLoginMode = true">Login</a>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-grid>
  </form>
</ion-content>
