<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu *ngIf="show" contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>Almanify</ion-list-header>
          <ion-note>{{this.userName}}</ion-note>
          <ion-menu-toggle *ngFor="let p of userName ? unblockedPages : blockedPages; let i = index" auto-hide="false">
            <ion-item *ngIf="p.url" [routerLink]="[p.url]" detail="false" lines="none" routerDirection="root"
                      routerLinkActive="selected">
              <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="userName" auto-hide="false">
            <ion-item (click)="logOut()" detail="false" lines="none">
              <ion-icon [ios]="'log-out-outline'" [md]="'log-out-sharp'" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-img class="ion-justify-content-center ion-align-self-center ion-align-items-center"
                 src="../assets/logo/almanify-logo-no-bg.svg"></ion-img>

      </ion-content>
      <ion-footer style="text-align:center">
        <ion-toolbar>
          <ion-button (click)="showImprint()" color="medium" fill="clear" size="small">Imprint</ion-button>
          <ion-button (click)="showGTC()" class="ion-align-items-center" color="medium" fill="clear" size="small">GTC
          </ion-button>
          <ion-button (click)="showPrivacy()" class="ion-align-items-center" color="medium" fill="clear" size="small">
            Privacy Protection
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
