<ion-header>
  <ion-toolbar>
    <ion-buttons style="width: 100%">
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>{{journey.title}}</ion-title>
      <ion-button slot="end" class="ion-margin-end">
        <ion-back-button defaultHref="/journeys" icon="close"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <!-- button for adding a new payment -->
        <ion-button routerDirection="forward" on-click="addPayment()" style="font-weight: bolder;" expand="block">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          new payment
        </ion-button>
      </ion-col>
      <ion-col>
        <!-- view debts -->
        <ion-button size="medium" expand="block" on-click="viewDebts()" style="font-weight: bolder">
          <ion-icon slot="start" name="wallet-outline"></ion-icon>
          debts
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [ngModel]="sortBy">
    <ion-segment-button value="person">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="money">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="date">
      <ion-icon name="calendar"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-segment [ngModel]="sortOrder">
    <ion-segment-button value="highToLow">
      <ion-icon name="caret-down-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="lowToHigh">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let payment of payments" on-click="viewPayment(payment)">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
          <ion-item>
            <ion-icon name="{{getCategoryIcon(payment.category)}}" class="ion-margin-end"></ion-icon>
            {{payment.title}}
          </ion-item>
        </ion-card-title>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button (click)="editPayment(payment)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deletePayment(payment)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>

      <ion-chip>
        <ion-icon name="person"></ion-icon>
        <ion-label>{{databaseService.getUserName(payment.payerID)}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="calendar"></ion-icon>
        <ion-label>{{payment.payday.getDate() + '.' + payment.payday.getMonth() + '.' + payment.payday.getFullYear()}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>{{payment.value + payment.currency}}</ion-label>
      </ion-chip>

    </ion-card-content>
  </ion-card>
</ion-content>
