<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{journeyTitle}}</ion-title>
    <ion-button slot="end" class="ion-margin-end">
      <ion-back-button defaultHref="/journeys" icon="close"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- view debts -->
  <ion-button size="medium" expand="block" class="ion-margin" on-click="viewDebts()">
    <ion-icon slot="start" name="wallet-outline"></ion-icon>
    view current debts
  </ion-button>

  <ion-segment [ngModel]="sortBy">
    <ion-segment-button value="person">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="money">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="date">
      <ion-icon name="calendar"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-segment [ngModel]="sortOrder">
    <ion-segment-button value="highToLow">
      <ion-icon name="caret-down-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="lowToHigh">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let payment of payments" on-click="viewPayment(payment)">
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>
          <ion-item>
            <ion-icon name="{{getCategoryIcon(payment.category)}}" class="ion-margin-end"></ion-icon>
            {{payment.title}}
          </ion-item>
        </ion-card-title>
        <ion-buttons slot="end">
          <ion-button color="success" shape="round" fill="outline" (click)="editPayment(payment)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" shape="round" fill="outline" (click)="deletePayment(payment)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>

      <ion-chip>
        <ion-icon name="person"></ion-icon>
        <ion-label>{{payment.payerID}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="calendar"></ion-icon>
        <ion-label>{{payment.payday.getDate() + '.' + payment.payday.getMonth() + '.' + payment.payday.getFullYear()}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>{{payment.value + payment.currency}}</ion-label>
      </ion-chip>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer translucent="true">
  <ion-button shape="round" size="large" expand="block" class="ion-margin" on-click="addPayment()">
    <ion-icon slot="start" name="add-circle"></ion-icon>
    add payment
  </ion-button>
</ion-footer>

<ion-footer [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons style="justify-content: space-evenly">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button routerLink="/" routerDirection="forward">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notifications" routerDirection="forward">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
