<div class="ion-text-center ion-padding">
  <h1>Imprint</h1>

  <p > Technische Hochschule Mittelhessen (THM) <br/>  <small>  University of Applied Sciences </small> </p>


  <p> Wiesenstraße 14 <br/>
    35390 Gießen <br/>
    Germany <br/>
    +49 641 309-0 <br/>
    +49 641 309-2901
  </p>
  <a href="https://www.thm.de/site/impressum.html">Imprint THM</a>
  <ion-item-divider>
  </ion-item-divider>
  <h3 class="ion-text-center">Autoren</h3>
  <p>
    Hendrik Wagner <br/>
    Sven Thomas <br/>
    Vanessa Nagy <br/>
    Dennis Krs <br/>
    Maximilian Biebl <br/>
  </p>
  <small>&copy; 2022</small>
</div>

