<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Almanify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid align="center" [fixed]="true">

    <ion-row style="height: 10vh"></ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-md="6" size-lg="4" size-xl="3">
        <ion-img style="border-radius: 20% !important; overflow: hidden" src="assets/logo/almanify-logo.svg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row style="height: 5vh"></ion-row>

    <ion-row class="ion-justify-content-center ion-margin-horizontal">
      <ion-col>
        <ion-button style="height: 125%" size="large" shape="round" expand="block" fill="outline" expand="block" routerLink="/journey-editor" routerDirection="forward">
          <ion-text>Create Journey</ion-text>
          <ion-icon style="font-size: 7vh" slot="end" name="caret-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="height: 7vh"></ion-row>

    <ion-row class="ion-justify-content-center ion-margin-horizontal">
      <ion-col>
        <ion-button style="height: 125%" size="large" shape="round" expand="block" fill="outline" expand="block" routerLink="/join-journey" routerDirection="forward">
          <ion-text>Join Journey</ion-text>
          <ion-icon style="font-size: 7vh" slot="end" name="enter-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="height: 7vh"></ion-row>

  </ion-grid>
</ion-content>


