<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journey-Editor</ion-title>
    <ion-button slot="end" class="ion-margin-end">
      <ion-back-button defaultHref="/journeys" icon="close"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid align="center" [fixed]="true">
        <!-- header with exit button -->
        <ion-row class="ion-justify-content-center">
          <ion-toolbar>
            <ion-card-title *ngIf="!isEditMode; else editMode">New Journey</ion-card-title>
            <ng-template #editMode>
              <ion-card-title>Edit Journey</ion-card-title>
            </ng-template>
          </ion-toolbar>
        </ion-row>
        <!-- journey name -->
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="full" fill="outline">
              <ion-label>Title:</ion-label>
              <ion-input type="text" maxlength="30" placeholder={{journey.name}} required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="height: 3vh"></ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <!-- item group for journey details -->
            <ion-item-group>
              <!-- "default currency" field -->
              <ion-item lines="full">
                <ion-icon name="logo-euro" slot="start"></ion-icon>
                <ion-label>Default currency:</ion-label>
                <ion-select interface="popover" placeholder="{{journey.def_currency}}">
                  <ion-select-option *ngFor="let cur of this.currencies">{{cur}}</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- "start date" field -->
              <ion-item lines="full" id="date">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label>Start date:</ion-label>

                <ion-datetime-button datetime="datetime"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" id="datetime"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <!-- "invite code" field -->
              <ion-item lines="full">
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-label>Invite code:</ion-label>
                <ion-input style="text-align: end" type="numeric" minlength="5" maxlength="5"
                           placeholder="{{journey.invite_code}}" required="true"></ion-input>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <!-- qr code -->
          <ion-col size="8" size-md="6" size-lg="4" size-xl="3">
            <ion-img src="assets/samples/qr_sample.png"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>Currently involved:</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <span *ngFor="let per of journey.people">
            <ion-chip>
              <ion-icon name="caret-up-outline" *ngIf="per == journey.creator"></ion-icon>
              {{per}}
              <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            </ion-chip>
          </span>
        </ion-row>


      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer [translucent]="true" collapse="fade">
  <ion-button expand="block">
    <ion-text>Save</ion-text>
    <ion-icon slot="end" name="save"></ion-icon>
  </ion-button>
</ion-footer>

<ion-footer [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons style="justify-content: space-evenly">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button routerLink="/" routerDirection="forward">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notifications" routerDirection="forward">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
