<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journey-Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer [translucent]="true" collapse="fade">
  <ion-button expand="block">
    <ion-text>Save</ion-text>
    <ion-icon slot="end" name="save"></ion-icon>
  </ion-button>
</ion-footer>

<ion-footer [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons style="justify-content: space-evenly">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button routerLink="/" routerDirection="forward">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notifications" routerDirection="forward">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid align="center" [fixed]="true">
        <!-- header with exit button -->
        <ion-row class="ion-justify-content-center">
          <ion-toolbar>
            <ion-card-title>
              New Journey
            </ion-card-title>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-row>
        <!-- journey name -->
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="full" fill="outline">
              <ion-label>Title:</ion-label>
              <ion-input type="text" maxlength="20" placeholder="My Journey" required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="height: 3vh"></ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <!-- item group for journey details -->
            <ion-item-group>
              <!-- "default currency" field -->
              <ion-item lines="full">
                <ion-icon name="logo-euro" slot="start"></ion-icon>
                <ion-label>Default currency:</ion-label>
                <ion-select interface="popover" placeholder="€">
                  <ion-select-option *ngFor="let cur of this.currencies">{{cur}}</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- "start date" field -->
              <ion-item lines="full" id="date">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label>Start date:</ion-label>

                <ion-datetime-button datetime="datetime"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" id="datetime"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <!-- "invite code" field -->
              <ion-item lines="full">
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-label>Invite code:</ion-label>
                <ion-input style="text-align: end" type="numeric" minlength="5" maxlength="5" placeholder="12345" required="true"></ion-input>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <!-- qr code -->
          <ion-col size="8" size-md="6" size-lg="4" size-xl="3">
            <ion-img src="assets/samples/qr_sample.png"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>Currently involved:</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="4" size-sm="2" size-md="2" size-lg="auto" size-xl="2"
                         *ngFor="let per of journeys[0].people">
                  <ion-chip>
                    <ion-icon name="caret-up-outline" *ngIf="per == journeys[0].creator"></ion-icon>
                    {{per}}
                    <ion-icon color="danger" name="close-circle-outline"></ion-icon>
                  </ion-chip>
                </ion-col>
        </ion-row>


      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>
