<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Debt Calculator</ion-title>
    <ion-button [routerLink]="'/journey/'+journey.id" class="ion-margin-end" routerDirection="back" slot="end">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!isLoaded" class="ion-align-items-center">
    <ion-spinner name="crescent"></ion-spinner>
    <ion-label>Calculating debts...</ion-label>
  </ion-item>

  <ion-card *ngIf="isLoaded">

    <!-- amount the user is owed -->
    <div *ngIf="userIsOwed">
      <ion-card-header>
        <ion-card-subtitle>You are currently owed</ion-card-subtitle>
        <ion-card-title color="success">{{ toSelectedCurrencyString(userIsOwed) }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="userIsOwed">
        Members of the trip are still owing you {{toSelectedCurrencyString(userIsOwed) }}.
      </ion-card-content>

      <ion-button fill="clear" (click)="sendReminder()">Send reminders</ion-button>
      <!--ion-button fill="clear" (click)="insertRepaidDebt()">Someone paid me...</ion-button-->
    </div>

    <!-- amount the user owes -->
    <div *ngIf="amountsToBePaidByUser.length > 0">
      <ion-card-header>
        <ion-card-subtitle>You currently owe</ion-card-subtitle>
        <ion-card-title color="danger">{{ toSelectedCurrencyString(getTotalAmountPaidByUser()) }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="amountsToBePaidByUser.length > 0">
        You are still owing {{ toSelectedCurrencyString(getTotalAmountPaidByUser())}}.
        This amount may have to be paid in smaller parts to multiple people.
        Check the list below to see who you owe money to.
      </ion-card-content>
    </div>

    <!-- user has nothing to pay or to be paid -->
    <div *ngIf="amountsToBePaidByUser.length === 0 && !userIsOwed">
      <ion-card-header>
        <ion-card-subtitle>You are debt free</ion-card-subtitle>
        <ion-card-title color="success">All set!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        You are currently not owing anyone money and no one is owing you money.
        If the journey is over, you can safely leave the group.
      </ion-card-content>
    </div>
  </ion-card>

  <!-- debts that the user is involved in -->

  <ion-card *ngIf="isLoaded && (!userIsOwed || !amountsToBePaidByUser)">
    <ion-card-header>
      <ion-card-title>Your outstanding repayments</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- select currency to display -->
      <ion-list *ngIf="amountsToBePaidByUser && amountsToBePaidByUser.length > 0; else text1">
        <ion-item>
          <ion-label>Currency</ion-label>
          <ion-select [(ngModel)]="selectedCurrency">
            <ion-select-option *ngFor="let currency of currencies" [value]="currency.code">
              {{ currency.name }} ({{ currency.symbol }})
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngFor="let realDebt of amountsToBePaidByUser">
          <ion-label class="ion-text-wrap">
            You
            owe {{ toSelectedCurrencyString(realDebt[1])}}
            to {{ resolveUserId(realDebt[0]) }}
          </ion-label>
          <ion-button (click)="payDebt(realDebt[0], convertToCurrency(realDebt[1], journey.defaultCurrency))"
                      fill="clear">Pay
          </ion-button>
        </ion-item>
      </ion-list>
      <ng-template #text1>
        <ion-label>
          You don't owe anyone anything!
        </ion-label>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- debts that the user is owed -->

  <ion-card *ngIf="isLoaded && userIsOwed">
    <ion-card-header>
      <ion-card-title>Your outstanding debts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- select currency to display -->
      <ion-list *ngIf="userIsOwed && owedBy.length > 0; else text2">
        <ion-item>
          <ion-label>Currency</ion-label>
          <ion-select [(ngModel)]="selectedCurrency">
            <ion-select-option *ngFor="let currency of currencies" [value]="currency.code">
              {{ currency.name }} ({{ currency.symbol }})
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngFor="let realDebt of owedBy">
          <ion-label class="ion-text-wrap">
            {{ realDebt[1] }}
            owes you {{ toSelectedCurrencyString(realDebt[2])}}
          </ion-label>
          <ion-button (click)="insertRepaidDebt(realDebt[0], realDebt[2])" fill="clear">Mark as<br/> repaid</ion-button>
        </ion-item>
      </ion-list>
      <ng-template #text2>
        <ion-label>
          No one owes you anything!
        </ion-label>
      </ng-template>
    </ion-card-content>
  </ion-card>


  <!-- debts that don't concern the user -->
  <!-- only show if the user is owner of the trip -->

  <ion-card *ngIf="isLoaded && journey.creatorID === userID">
    <ion-card-header>
      <ion-card-title>Other due payments</ion-card-title>
      <ion-card-subtitle>These due payments are visible to you because you are the journey creator.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="amountsToBePaid && amountsToBePaid.size > 0; else text3">
        <ion-item *ngFor="let realDebt of amountsToBePaid.entries()">
          <ion-label class="ion-text-wrap">
            {{ resolveUserId(realDebt[0].split('-')[1]) }}
            owes {{ resolveUserId(realDebt[0].split('-')[0]) }}
            {{ toSelectedCurrencyString(realDebt[1]) }}
          </ion-label>
        </ion-item>
      </ion-list>
      <ng-template #text3>
        <ion-label>
          No one owes anyone anything!
        </ion-label>
      </ng-template>
    </ion-card-content>
  </ion-card>

</ion-content>

