<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Debt Calculator</ion-title>
    <ion-button slot="end" class="ion-margin-end">
      <ion-back-button defaultHref="/journeys" icon="close"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- add debt form -->
  <!--ion-card>
    <ion-card-header>
      <ion-card-title>Add Debt</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input type="number" [(ngModel)]="debt.value"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Paid by</ion-label>
        <ion-select [(ngModel)]="debt.payerID">
          <ion-select-option *ngFor="let person of people; index as i" [value]="person">
            {{ person }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Paid for</ion-label>
        <ion-select multiple="true" [(ngModel)]="debt.involvedIDs">
          <ion-select-option *ngFor="let person of people; index as i" [value]="person">
            {{ person }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="addDebt()"
                  [disabled]="!(debt.value && debt.payerID !== undefined && debt.involvedIDs.length)">
        Add Debt
      </ion-button>
    </ion-card-content>
  </ion-card-->

  <!-- debts list -->
  <!--ion-card *ngFor="let debt of debts">
    <ion-card-header>
      <ion-card-title>
        {{ debt.value }} paid by {{ debt.payerID }} for
        {{ getPeople(debt.involvedIDs) }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="removeDebt(debt)">Remove Debt</ion-button>
    </ion-card-content>
  </ion-card-->

  <!-- who owes who -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Who owes who</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let realDebt of amountsToBePaid.entries()">
          <ion-label>{{ realDebt[0].split('-')[1] }} owes
            {{ realDebt[0].split('-')[0] }} {{ realDebt[1] }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons style="justify-content: space-evenly">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notifications" routerDirection="forward">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
